
.fill-height {
  height: 100%;
}

.admin-posts {
  display: flex;
  height: 100%;
  width: 100%;
  
  .title {
    text-align: center;
  }
 
 .btn-add-post {
   display: block;
   margin: 0 auto;
   width: 150px;
 }
 
 .post-list {
   background-color: #181818;
   color: white;
   max-width: 350px;
   width: 25%;
   
   nav {
     margin-top: 2rem;
     
     a {
      color: white;
      display: block;
      padding: .5rem .5rem;
      
      &:hover, &.selected {
        background-color: $white-regular;
        color: $black-regular;
        
        .from-now {
          color: lighten($black-regular, 20%);
        }
      }
      
      &.selected:hover {
        background-color: darken($white-regular, 10%);
      }
    }
   }
   
   .from-now {
     color: darken($white-regular, 20%);
     font-size: .8em;
     float: right;
   }
   
   .list-post-details {
     border-bottom: 1px solid darken($white-regular, 20%);
     color: $white-darker;
     font-size: .8em;
     padding: .5rem .5rem 1rem 1rem;
   }
 }
 .admin-posts-content {
   padding: 0 0 0 1rem;
   width: 100%;
 }
}