@include max-small-tablet{
  body{ 
    height: auto;
  } 
}
.blog-app {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow: hidden;
  
  @include max-small-tablet{
    flex-direction: column;
  }
}
.blog-header{
  background: $grey-regular;
  min-height: 100%;
  order: 3;
  padding: 3em 1em;
  text-align: center;
  width: 25%;

  @include max-small-tablet{
    min-height: inherit;
    order: 1;
    padding: .2em;
    position: static;
    width: 100%;
    
    h1, h2 {
      padding-bottom: .2rem;
    }
  }

  .social{
    margin: 4em 0 2em;

     @include max-small-tablet{
      margin: 1em 0 .5em;
     }
  }
}

.blog-content {
  margin: 0;
  min-height: 100%;
  order: 2;
  overflow-y: auto;
  padding: 48px 4% 48px 5%;
  position: relative;
  width: 75%;

  @include max-small-tablet{
    width: 100%;
  }
}

.blog-list {
  article{
    padding-bottom: 1em;
    padding-left: 140px;
    position: relative;

    @include max-phone-landscape{
      border-bottom: 1px dotted #999;
      margin-bottom: 1em;
      padding-bottom: 0;
      padding-left: 0;
    }
  }
  .post-date{
    border-bottom: 1px solid #999;
    position: absolute;
    left: 0;
    width: 100px;

    @extend .clearfix;

    .day{
      color: $grey-dark;
      float: right;
      font-size: 2.5em;
      line-height: 1;
      padding: 0;    
    }
    .month{
      color: $grey-dark;
      display: block;
      font-size: 1.6em;
      padding: 0;
    }
    .year{
      color: $grey-dark;
      display: block;
      padding: 0;
    }
    /**
     * 
     */
    @include max-phone-landscape{
      border-bottom: none;
      display: inline;
      position: static;

      .day, .month, .year{
        display: inline;
        float: none;
        font-size: 1em;
      }
    }
  }
  h2 a{
    color: $black-regular;

    &:hover{
      border-bottom: 1px solid $black-regular;
    }
  }
}
.blog-post {
  .title{
    font-size: 4em;

    @include max-small-tablet{
      font-size: 3em;
    }

    @include max-phone{
      font-size: 2em;
      font-weight: 500;
    }
  }

  .subtitle{
    margin: 2em 0 .5em;
  }
}

.item-navigation {
  padding: 2em 0;
  position: relative;
  width: 100%;

  .previous, .next{
    display: block;
    font-size: 1.2em;
    font-weight: 200;
    letter-spacing: .1rem;
    position: absolute;
    transform: translateY(-50%);

    &:hover{
      border-bottom: 1px solid $blue-regular;
    }
  }
  .previous{
    left: 0;
    text-align: left;
  }
  .next{
    right: 0;
    text-align: right;
  }
}

.tag{
  background-color: #4c4c4c;
  border-radius: 0 3px 3px 0;
  color: #FFFFFF;
  display: inline-block;
  height: 30px;
  margin: 0 5px 5px 22px;
  padding: 5px 17px 5px 5px;
  position: relative;
  transition: all 0.3s ease-in 0s;

  &:before {
    background: url("../img/tag-front.png") no-repeat scroll left center rgba(0, 0, 0, 0);
    content: "";
    height: 30px;
    left: -22px;
    position: absolute;
    top: 0;
    width: 22px;
  }

  &:hover .close{
    opacity: 1;
  }

  .close {
    cursor: pointer;
    margin-right: 5px;
    opacity: 0;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.3s ease-in 0s;
  }
}