
.fill-height {
  height: 100%;
}

.admin-posts {
  display: flex;
  height: 100%;
  width: 100%;
  
  .title {
    text-align: center;
  }
 
 .btn-add-post {
   background-color: $red-regular;
   border-radius: 50%;
   color: $white-regular;
   display: block;
   height: 3em;
   margin: 0 auto;
   padding: 0;
   position: relative;
   text-indent: -999999px;
   width: 3em;
   
   &:before {
     content: '+';
     font-size: 1.6em;
     font-weight: 500;
     left: 50%;
     position: absolute;
     text-indent: 0;
     top: 50%;
     transform: translate(-50%, -50%);
   }
 }
 
 .post-list {
   background-color: #181818;
   color: white;
   max-width: 350px;
   width: 25%;
   
   nav {
     margin-top: 2rem;
     
     a {
      color: white;
      display: block;
      padding: .5rem .5rem;
      
      &:hover, &.selected {
        background-color: $white-regular;
        color: $black-regular;
        
        .from-now {
          color: lighten($black-regular, 20%);
        }
      }
      
      &.selected:hover {
        background-color: darken($white-regular, 10%);
      }
    }
   }
   
   .from-now {
     color: darken($white-regular, 20%);
     font-size: .8em;
     float: right;
   }
   
   .list-post-details {
     border-bottom: 1px solid darken($white-regular, 20%);
     color: $white-darker;
     font-size: .8em;
     padding: .5rem .5rem 1rem 1rem;
   }
 }
 .admin-posts-content {
   padding: 0 0 0 1rem;
   width: 100%;
 }
}
.postform {
  width: 100%;
  
  .column {
    flex-direction: column;
  }
  textarea{ 
    max-width: none;
    min-height: 300px;
    flex-grow: 2;
    width: 100%;
  }
}