
<h1> Add Post</h1>

<form name="form" novalidate>
  
  <div class="field">
     <label for="postTitle">title</label>
     <input type="text" id="postTitle" name="postTitle" ng-model="post.title" required />
     <div ng-messages="form.postTitle.$error" ng-show="form.postTitle.$touched || isSubmitted">
       <div ng-message="required">This field is required</div>
     </div>
  </div>
  
  <div class="field">
     <label for="postContent">post</label>
     <textarea id="postContent" name="postContent" ng-model="post.content" required></textarea>
     <div ng-messages="form.postContent.$error" ng-show="form.postContent.$touched || isSubmitted">
       <div ng-message="required">This field is required</div>
     </div>
  </div>
  
  <div class="field">
    <button class="btn" ng-click="addPost()" ng-disabled="form.$invalid">add post</button>
  </div>
  
</form>