
<section class="admin-posts">

  <div class="post-list">
    <h1 class="title">Posts</h1>
    <a class="btn-add-post" ui-sref="admin.posts.add">add new post</a>
    <nav>
      <ul>
        <li ng-repeat="post in posts" >
          <a ui-sref="admin.posts.edit({postId: post.id})" ng-class="{selected: selected==post.id}">
            {{post.title}}  <span class="from-now">{{post.created | momentFromNow}}</span>
          </a>
          <div ng-if="selected==post.id" class="list-post-details">
            <ul>
              <li>Content: {{post.content | countChars}} chars</li>
              <li>Created on: {{post.created | momentFormat}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  
  <div class="admin-posts-content" ui-view></div>
  
</section>
