/***************************
 ********* BUTTONS *********
 **************************/
.btn, [class*='btn-'] {
  appearance: none; // to override default mobile styling
  background-color: $btn-grey;
  border: none;
  border-radius: 3px;
  color: $black-regular;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans Regular";
  font-size: 1.16667em;
  font-weight: 300;
  margin: 0 .25rem;
  padding: .5rem 1.5rem;
  text-decoration: none;
  text-align: center;
  user-select: none;
  vertical-align: middle;
  
  @include transition(background);

  &:hover, &:focus{
    background-color: darken($btn-grey, $btn-hover-darken);
  }
  &:focus {
    outline: none;
  }
  &.primary{
    background-color: $btn-blue;
    color: $white-regular;
    
    &:hover, &:focus{
      background-color: darken($btn-blue, $btn-hover-darken);
    }
  }
}

.btn[disabled], .btn.disabled, [class*='btn-'][disabled], .disabled[class*='btn-'] {
  cursor: default;
  opacity: .5;
  pointer-events: none;
}
