
.field {
  display: flex;
  padding: .5rem 0;
  
  label {
    display: block;
    max-width: 250px;
    width: 25%;
  }
  
  input, select, textarea {
    border: 1px solid $grey-regular;
    max-width: 400px;
    padding: .25rem .5rem;
    width: 75%;
    
    
    &:focus {
      border-color: darken($grey-regular, 20%);
    }
  }
  
  textarea {
    height: 8em;
  }
}