
<section class="admin-posts">

  <div class="post-list">
    <h1 class="title">Posts</h1>
    <a class="btn-add-post" ui-sref="admin.posts.add">add new post</a>
    <nav>
      <h3>Drafts ({{drafts.length||0}})</h3>
      <ul>
        <li ng-repeat="draft in drafts" >
          <a ui-sref="admin.posts.edit({postId: draft.id})" ng-class="{selected: selected==draft.id}">
            {{draft.title}}  <span class="from-now">{{draft.created | momentFromNow}}</span>
          </a>
          <div ng-if="selected==draft.id" class="list-post-details">
            <ul>
              <li>{{draft.summary}}</li>
              <li>Content: {{draft.content | countChars}} chars</li>
              <li>Created on: {{draft.created | momentFormat}}</li>
              <li>Last changed on: {{draft.changed | momentFormat}}</li>
            </ul>
          </div>
        </li>
      </ul>
      <h3>Active Posts ({{posts.length||0}})</h3>
      <ul>
        <li ng-repeat="post in posts" >
          <a ui-sref="admin.posts.edit({postId: post.id})" ng-class="{selected: selected==post.id}">
            {{post.title}}  <span class="from-now">{{post.created | momentFromNow}}</span>
          </a>
          <div ng-if="selected==post.id" class="list-post-details">
            <ul>
              <li>{{post.summary}}</li>
              <li>Content: {{post.content | countChars}} chars</li>
              <li>Created on: {{post.created | momentFormat}}</li>
              <li>Last changed on: {{post.changed | momentFormat}}</li>
            </ul>
          </div>
        </li>
      </ul>
    </nav>
  </div>
  <messagebox title="'error'" msg="err"></messagebox>
  <div class="admin-posts-content" ui-view></div>
  
</section>
