<form name="form" class="postform" ng-submit="submitForm(post, form)" novalidate>
  
  <div class="field">
     <label for="postTitle">title</label>
     <input type="text" id="postTitle" name="postTitle" ng-model="post.title" required />
     <div ng-messages="form.postTitle.$error" ng-show="form.postTitle.$touched || isSubmitted">
       <div ng-message="required">This field is required</div>
     </div>
  </div>
  
  <div class="field">
     <label for="postSummary">summary</label>
     <input type="text" id="postSummary" name="postSummary" ng-model="post.summary" required />
     <div ng-messages="form.postSummary.$error" ng-show="form.postSummary.$touched || isSubmitted">
       <div ng-message="required">This field is required</div>
     </div>
  </div>
  
  <div class="field">
    <label>Is Published</label>
    <div class="switch">
      <input id="isActive" class="cmn-toggle cmn-toggle-round-flat" type="checkbox" ng-model="post.isactive" ng-true-value="'1'">
      <label for="isActive"></label>
    </div>
  </div>
  
  <div class="field">
     <label for="postController">ng-controller</label>
     <input type="text" id="postController" name="postController" ng-model="post.controller" />
  </div>
  
  <div class="field column">
     <label for="postContent">post</label>
     <textarea id="postContent" name="postContent" ng-model="post.content" required></textarea>
     <div ng-messages="form.postContent.$error" ng-show="form.postContent.$touched || isSubmitted">
       <div ng-message="required">This field is required</div>
     </div>
  </div>
  
  <div class="field">
    <a class="btn" ng-disabled="form.$pristine" ng-click="cancel()">Cancel changes</a>
    <button class="btn" ng-disabled="form.$invalid||form.$pristine">Submit post</button>
  </div>
  
</form>